@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

$primary-color: hsl(0, 36%, 70%);
$secondary-color: hsl(0, 93%, 68%);
$neutral-color: hsl(0, 6%, 24%);

$mobile-size: 375px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Sans";
    min-height: 100vh;
    width: 100%;
    background-color: linear-gradient($primary-color, $secondary-color);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}