.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-bottom: 3rem;
    
    background-image: 
    url("/public/images/bg-pattern-desktop.svg");
    background-size: cover;
    background-blend-mode: overlay;

    &__logo-container{
        padding: 1rem;
        margin: 1rem .4rem;
        align-self:flex-start;
        img{
            width: 70%;
        }
    }

    &__image-container{
        height: 100%;
        width: 100%;
        img{
            content: url("../images/hero-mobile.jpg");
            object-fit:cover;
            height: 100%;
            width: 100%;
            display: block;
        }

    }


    &__text-container{
        margin: 4rem 10%;
        text-align: center;

        img {
            visibility: hidden;
            position:absolute;
        }

        h1{
            font-weight: 600;
            .muted{
                color: $primary-color;
                font-weight: 300;
            }

            color: $neutral-color;
            font-size: 3rem;
            letter-spacing: 1rem;

            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &__sub-text{
            line-height: 1.7;
            color: $primary-color;
            margin-bottom: 1.2rem;
        }

        &__input{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            input{
                width: 100%;
                border: solid 1px $primary-color;
                border-radius: 2rem;
                padding: 1rem 2rem;
                height: 3rem;
            }

            button{
                position: relative;
                border-radius: 2rem;
                margin-left: -80px;
                padding: 0 2.5rem;
                height: 3rem;
                background-image: linear-gradient(135deg, $primary-color, $secondary-color);
                color: white;
                border: none;

                display: flex;          // enable flex inside the button
                align-items: center;    // vertically center text/icon
                justify-content: center; // horizontally center text/icon
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    filter: brightness(1.2);
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
                }
                &:active{
                    filter: brightness(1.2);
                    transform: scale(1);

                }

                box-shadow: 0 10px 20px rgba(248, 190, 190, 0.5);
                transition: all 0.3s ease;
            }
        }
    }
}